html
  head
    title= loom
    include partials/head
  body(ng-app="loomApp")
    header#nav.row
      ul
        li.col-md-3 logo
        li.col-md-3 settings
        li.col-md-3 
          button(data-toggle="modal", data-target="#settingsModal").
           settings
        li.col-md-3 gallery
        include partials/modal 
    block content 
    ng-view
    include partials/angScripts
    
    