script(src="ace/ace.js" charset="utf-8")

script(src="/javascripts/editor.js")
script(src="/javascripts/app.js")
script(src="/javascripts/controllers/EditorController.js")

script(src="/javascripts/sockets.js"); 