div(ng-controller="EditorController" class="modal fade", id="settingsModal", tabindex="-1", role="dialog", aria-labelledby="myModalLabel")
  div(class="modal-dialog", role="document")
    div.modal-content
      div.modal-header
        button(type="button", class="close", data-dismiss="modal", aria-label="close")
          span(aria-hidden="true") &times;
        h5(class="modal-title", id="myModalLabel").
            settings 
      div.modal-body
        ul(class="nav nav-tabs" id="tabContent")
          li.active
            a(href="#basic" data-toggle="tab") Basic
          li
            a(href="#advanced" data-toggle="tab") Advanced  
        div(class="tab-content")
          div(class="tab-pane active" id="basic")
            br    
            input(type="text", name="name", placeholder="name") 
            input(type="password", name="password", placeholder="password")
            select(ng-options="theme as theme.name for theme in themes" ng-model="currentTheme" ng-change="setTheme()" class="form-control")
              option(value="" disabled)|themes          
            select(ng-options="mode as mode.name for mode in modes" ng-model="currentMode" ng-change="setMode()" class="form-control")
              option(value="" disabled)|modes
          div(class="tab-pane" id="advanced")
            br
            div.row
              div(class="col-sm-6")
                div.checkbox
                  label 
                    input(type="checkbox" name="softTabs" ng-model="softTabs" ng-true-value="1" ng-false-value="0" ng-change="setSoftTabs()")
                    | tabs
              div(class="col-sm-6")
                select(class="form-control" ng-model="tabSize" ng-change="setTabSize()" name="tabsize")
                  option(value="2") 2 
                  option(value="4") 4
            br
            div.row
              div(class="col-sm-6") 
                div.checkbox
                  label 
                    input(type="checkbox" name="gutter" ng-model="gutter" ng-true-value="1" ng-false-value="0" ng-change="setGutter()") 
                    | gutter 
              div(class="col-sm-6")
                div.checkbox
                  |font size: 
                  input(class="btn btn-default btn-sm" type="button" value="+" ng-click="increaseFont()")
                  input(class="btn btn-default btn-sm" type="button" value="-" ng-click="decreaseFont()")
      div.modal-footer
        button(type="button", class="btn btn-default" data-dismiss="modal").
          done